Pipelines/__pycache__
.Rproj.user
python/tRNAscan2bed12.py~
perl/clustering.pl~
python/.ipynb_checkpoints/
python/addCCA.py~
python/mito_nuc_test.ipynb
python/modBed12.py~	
python/pd_test.ipynb
Pipelines/#pipeline_trna.py#
R/feature_count_plots.r~
python/modBed12.py~
*~
\#
*#
